[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=YFReminder2
Exec=/opt/YFReminder2/bin/YFReminder2
Icon=YFReminder2
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
